# This is a basic workflow to help you get started with Actions

name: CI

# on: [pull_request, push]

on:
  push:
    tags:
    - '*'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.22.4'
    - run: flutter pub get
    - run: flutter build apk
    - run: |
        flutter build ios --no-codesign
        #pushd build/ios/iphoneos 
        cd build/ios/iphoneos
        mkdir Payload
        cd Payload
        ln -s ../Runner.app
        cd ..
        zip -r app.ipa Payload
        #popd
        
    - name: Upload to releasex
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          build/app/outputs/apk/release/*.apk
          build/ios/iphoneos/app.ipa
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
